body {
  text-align: center;
  background: #f7f7f7;
  margin: 0;
  font-family: sans-serif;
}

#toolbar {
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

canvas {
  border: 1px solid #000;
  display: block;
  margin: 20px auto;
  background: #fff;
  cursor: crosshair;
}
